@font-face
{
	font-family: bodoni;
	src: url(bodoni.ttf);
}

body {
	font-family: bodoni;
	background-color: #42413C;
	background: fixed url(background1.jpg);
	margin: 0;
	padding: 0;
	color: #000;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #42413C;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #42413C;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}

/* ~~ this fixed width container surrounds the other divs ~~ */
.container {
	width: 1024px;
	background-color: #FFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}

/* ~~ the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo ~~ */
.header {
	margin-top: 15px;
	background-color: #922;
	padding-bottom: 0px;
	clear: both;
	height: 90px;
}

/* ~~ This is the layout information. ~~ 

1) Padding is only placed on the top and/or bottom of the div. The elements within this div have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

*/

.content {
	clear: both;
	padding: 20px 6px;
	min-height: 350px;
}

/* ~~ The footer ~~ */
.footer {
	margin-bottom: 15px;
	padding: 10px 0;
	background-color: #922;
	color: white;
	clear: both;
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

ul.tabs
{
	float: left;
	margin-left: 4px;
	margin-top: 42px;
	display: inline;
}

ul.tabs li a
{
	color: black;
	text-decoration: none;
}

ul.tabs li
{
	font-size: 17px;
	list-style-type: none;
	display: inline;
	padding: 8px 15px;
	margin-bottom: 0px;
	margin-left: 1px;
	margin-right: 3px;
	background-color: #FFF;
	
	border: #BBB 1px solid;
	border-radius: 3px;
	
	text-shadow: #444 0px 0px 1px;
}

ul.tabs li:hover a
{
	color: #228;
	text-shadow: #334 0px 0px 3px;
}

ul.tabs li:hover
{
	background-color: #EEE;
}

ul.tabs li span
{
	font-size: 140%;
}

.search, .search form
{
	display: inline;
}

.search
{
	float: right;
	margin-right: 0px;
	margin-top: 48px;
}

.search input
{
	font-size: 14px;
	border: #999 1px solid;
	border-radius: 3px;
	padding: 6px;
	padding-left: 8px;
	
	color: #555;
	
	background: white url(search.png) no-repeat 244px 3px;
}

.search input:focus
{
	box-shadow: #444 0px 0px 6px;
}

.cart
{
	float: right;
	padding: 5px;
	background-color: #FFF;
	border: #666 1px solid;
	border-radius: 4px;
	
	margin: 36px 10px 0px 10px; 
}

.cart:hover
{
	background-color: #EEE;
}

.logo
{
	float: left;
	display: inline;
	padding-top: 0x;
	padding-left: 0px;
	padding-right: 5px;
}

.slideshow
{
	margin-top: 23px;
	margin-left: 15px;
}

.categories {
	margin: 20px 0 20px 45px;
	padding-bottom: 20px;
	text-align: center;
}

.categories div.category {
	width: 200px;
	height: 150px;
	background-color: #FFF;
	border: #BBB 1px solid;
	border-radius: 2px;
	margin: 15px;
	padding: 15px;
	float: left;
}

.categories div .image-bounds
{
	display: block;
	padding: 0;
	margin: 0;
	width: 130px;
	height: 125px;
	margin-left: auto;
	margin-right: auto;
}

.categories div img
{
	width: 130px;
}

.categories a
{
	text-decoration: none;
}

.product{
	padding: 40px 60px 40px 60px;
	clear: both;
}

.product img {
	float: left;
	margin: 0 80px 30px 0;
}

.product h1
{
	font-size: 21pt;
}

.product h2
{
	font-size: 16pt;
}

.product h3 
{
	padding: 0;
}

.product .description
{
	margin: 20px 30px 5px 10px;
	padding: 15px 20px 20px 20px;
	
	clear: both;
	font-size: 13pt;
	
	border: #BBB 1px solid;
	border-radius: 8px 0 8px 0;
}

.product .price
 {
 	float: right;
	width: 150px;
	margin-top: 100px;
	margin-right: 40px;
	
	font-size: 30px;
}


.product .add-to-cart
 {
 	float: right;
	margin-top: 175px;
	margin-right: -140px;
	
	border: #999 1px solid;
	border-radius: 7px;
	
	padding: 5px 20px 5px 20px;
	
	text-shadow: #333 2px 2px 2px;
	box-shadow: #333 1px 1px 3px;
	
	color: #DDD;
	background-color: #22A;
	
	font-size: 20px;
	font-family: bodoni;
}

.product .add-to-cart:active
{
	margin-top: 177px;
	margin-right: -142px;
	box-shadow: #333 1px 1px 1px;
}

.product ul{
	margin-top: 30px;
	color: #333;
}

.product li {
	list-style-type: none;
	font-size: 13pt;
	margin-left: 20px;
}

.category-list
{
	margin-bottom: 30px;
}

.category-list .product
{
	border-bottom: #EEE 2px solid;
	padding-bottom: 50px;
}

.category-list img
{
	margin-right: 50px;
}

.category-list .price
{
	margin-top: 40px;
}

.category-list a
{
	text-decoration: none;
}

ul.footer_content{ 
    margin-left: 350px; 
}  

ul.footer_content li { 
    list-style-type: none; 
	padding: 0 10px 0 5px;
    display: inline; 
} 

ul.footer_content li a{ 
    color: #DDD; 
	text-decoration: none;
}

ul.footer_content li a:hover
{
	text-decoration: underline;
}

.cart-overview
{
	
}

.price-panel
{
	width: 260px;
	padding: 8px;
	margin-right: 15px;
	margin-bottom: 15px;
	border: #666 1px solid;
	border-radius: 4px;
		
	float: right;
	font-size: 16pt;
}

.price-panel form
{
	margin: 15px 10px 2px 0;
	float: right;
}

.price-panel input[type=submit]
{
 	float: right;
	
	border: #999 1px solid;
	border-radius: 7px;
	
	padding: 3px 10px 3px 10px;
	
	text-shadow: #333 2px 2px 2px;
	box-shadow: #333 1px 1px 3px;
	
	color: #DDD;
	background-color: #22A;
	
	font-size: 16px;
	font-family: bodoni;
}

.price-panel input[type=submit]:hover
{
	background-color: #119;
}

.price-panel input[type=submit]:active
{
	box-shadow: #333 1px 1px 1px;
}

.cart-overview table
{
	width: 250px;
}

.cart-overview .price
{
	text-align: right;
}

.cart-item
{
	width: 650px;
	height: 90px;
	border: #555 1px solid;
	margin: 15px 15px 15px 20px;
	padding: 15px 10px 5px 15px;
}

.cart-item h3
{
	float: left;
	width: 520px;
	height: 52px;
	margin-bottom: 5px;
}

.cart-item img
{
	float: left;
}

.cart-item a
{
	text-decoration: none;
}

.cart-options
{
	float: right;
}

.cart-options form
{
	display: inline;
}

.cart-options .cart-price
{
	display: inline;
	padding-right: 25px;
	font-size: 15pt;
	font-weight: 500;
}

.cart-options input[type=text]
{
	width: 40px;
	margin: 6px;
}

.cart-options input[type=submit]
{
	background-color: #AAD;
	border: #777 1px solid;
	border-radius: 4px;
	padding: 1px 7px;
	font-weight: 600;
}

.history ul {
	margin: 20px 0px 30px 200px; 
	font-size: 18px;
	list-style-type: circle;
}

.history p {
	font-size: 22px;
	margin: 20px 0px 20px 60px;
}

.history hr{
	margin-bottom: 20px;
	height: 2px;
	color: #FFF;
}

.largeLogo{
	margin: 0px 0px 30px 350px;
	border: thick;
}

ul.footer_content{
	margin-left: 370px;
}

ul.footer_content li {
	list-style-type: none;
	display: inline;
}

ul.footer_content li a{
	color: #FFF;
}

.contact ul.head {
	list-style-type: none;
	width: 200px;
	border: solid;
	padding: 4px;
	margin: 20px;
}

.contact .shop ul{
		list-style-type: none;
		width: 200px;
		border: solid;
		padding: 4px;
		margin: 20px;
		float: left;
}

.sample_products .pic1{
	margin: 20px 0px 0px 54px;
	border: solid;
	border-width: 1px;
	border-radius: 4px;
	border-color: #222;
}

.checkout
{
	margin: 20px 0 30px 40px;
}

.checkout h2
{
	padding: 0;
}

.checkout input[type=checkbox]
{
	margin: 15px 5px 7px 10px;
}

.checkout .buttons input
{
	margin-top: 10px;
	
}

.invalid
{
	border: red 2px solid;
}