@font-face
{
	font-family: bodoni;
	src: url(bodoni.ttf);
}

body {
	font-family: bodoni;
	background-color: #42413C;
	background: fixed url(background1.jpg);
	margin: 0;
	padding: 0;
	color: #000;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing div. The remaining bottom margin will hold it away from any elements that follow. */
	padding-right: 15px;
	padding-left: 15px; /* adding the padding to the sides of the elements within the divs, instead of the divs themselves, gets rid of any box model math. A nested div with side padding can also be used as an alternate method. */
}
a img { /* this selector removes the default blue border displayed in some browsers around an image when it is surrounded by a link */
	border: none;
}
/* ~~ Styling for your site's links must remain in this order - including the group of selectors that create the hover effect. ~~ */
a:link {
	color: #42413C;
	text-decoration: underline; /* unless you style your links to look extremely unique, it's best to provide underlines for quick visual identification */
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { /* this group of selectors will give a keyboard navigator the same hover experience as the person using a mouse. */
	text-decoration: none;
}

/* ~~ this fixed width container surrounds the other divs ~~ */
.container {
	width: 1024px;
	background-color: #FFF;
	margin: 0 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}

/* ~~ the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo ~~ */
.header {
	margin-top: 15px;
	background-color: #922;
	padding-bottom: 0px;
	clear: both;
	height: 90px;
}

/* ~~ This is the layout information. ~~ 

1) Padding is only placed on the top and/or bottom of the div. The elements within this div have padding on their sides. This saves you from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

*/

.content {
	clear: both;
	padding: 0px 6px;
}

/* ~~ The footer ~~ */
.footer {
	margin-bottom: 15px;
	padding: 10px 0;
	background-color: #922;
	color: white;
	clear: both;
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

ul.tabs
{
	float: left;
	margin-left: 4px;
	margin-top: 42px;
	display: inline;
}

ul.tabs li a
{
	color: black;
	text-decoration: none;
}

ul.tabs li
{
	font-size: 17px;
	list-style-type: none;
	display: inline;
	padding: 8px 15px;
	margin-bottom: 0px;
	margin-left: 1px;
	margin-right: 3px;
	background-color: #FFF;
	
	border: #BBB 1px solid;
	border-radius: 3px;
	
	text-shadow: #444 0px 0px 1px;
}

ul.tabs li:hover a
{
	color: #228;
	text-shadow: #334 0px 0px 3px;
}

ul.tabs li:hover
{
	background-color: #EEE;
}

ul.tabs li span
{
	font-size: 140%;
}

.search, .search form
{
	display: inline;
}

.search
{
	float: right;
	margin-right: 0px;
	margin-top: 48px;
}

.search input
{
	font-size: 14px;
	border: #999 1px solid;
	border-radius: 3px;
	padding: 6px;
	padding-left: 8px;
	
	color: #555;
	
	background: white url(search.png) no-repeat 244px 3px;
}

.search input:focus
{
	box-shadow: #444 0px 0px 6px;
}

.cart
{
	float: right;
	padding: 5px;
	background-color: #FFF;
	border: #666 1px solid;
	border-radius: 4px;
	
	margin: 36px 10px 0px 10px; 
}

.cart:hover
{
	background-color: #EEE;
}

.logo
{
	float: left;
	display: inline;
	padding-top: 0x;
	padding-left: 0px;
	padding-right: 5px;
}

.slideshow
{
	margin-top: 23px;
	margin-left: 15px;
}

.categories {
	margin-left: 45px;
	margin-top: 20px;
	text-align: center;
}

.categories div.category {
	width: 200px;
	height: 150px;
	background-color: #FFF;
	border: #BBB 1px solid;
	border-radius: 2px;
	margin: 15px;
	padding: 15px;
	float: left;
}

.categories div .image-bounds
{
	display: block;
	padding: 0;
	margin: 0;
	width: 130px;
	height: 125px;
	margin-left: auto;
	margin-right: auto;
}

.categories div img
{
	width: 130px;
}

.categories a
{
	text-decoration: none;
}

.product{
	padding: 40px;
	clear: both;
}

.product img {
	float: left;
	margin-right: 30px;
}

.product h2{
	font-size: 16pt;
	margin: 14px;
}

.product .description
{
}

.product .price
 {
}

.product ul{
	color: #333;
	padding-left: 20px;
}
.product li {
	margin-left: 20px;
}

.category-list
{
	margin-top: 20px;
	margin-bottom: 30px;
}

.category-list .product
{
	border-bottom: #EEE 1px solid;
	padding-bottom: 15px;
}

.category-list .price
{
	float: right;
	margin-top: 30px;
	margin-right: 40px;
	
	font-size: 30px;
}